.wrapper
  =render partial: 'groups/sideGroup'
  .mainChat
    .mainHeader
      .mainHeader__group
        .mainHeader__groupName
          = @group.name
        %ul.mainHeader__memberList
          メンバー：
          %li.mainHeader__member
            - @group.users.each do |user|
              = user.nickname
      %li.mainHeader__Button
        = icon("fas", "users-cog")
        = link_to '編集', edit_group_path(@group.id)

    .MessageField
      = render @messages
    
    .Chatfooter
      = render partial: 'mainchat'
