=render partial: 'reports/header'
=render partial: 'reports/menu'

.Wrapper
  =render partial: 'groups/sideGroup'
  .MainChat
    .MainHeader
      .MainHeader__group
        .MainHeader__groupName
          = @group.name
        %ul.MainHeader__memberList
          メンバー：
          %li.MainHeader__member
            - @group.users.each do |user|
              = user.name
      %li.MainHeader__Button
        = icon("fas", "users-cog")
        = link_to '編集', edit_group_path(@group.id)

    .MessageField
      = render @messages
    
    .Chatfooter
      = render partial: 'mainchat'

=render partial: 'reports/footer'

