.wrapper
  =render partial: 'groups/sideGroup'
  .mainChat
    .mainheader
      .mainheader__group
        .mainheader__groupName
          = @group.name
        %ul.mainheader__memberList
          メンバー：
          %li.mainheader__member
            - @group.users.each do |user|
              = user.nickname
      %li.mainheader__Button
        = icon("fas", "users-cog")
        = link_to '編集', edit_group_path(@group.id)

    .MessageField
      = render @messages
    
    .Chatfooter
      = render partial: 'mainchat'
