.wrapper
  .side
    .AccountPage__title
  .main
    .AccountPage__form
      = form_with local: true do |f|
        .FormField
          .FormField__label--normal
            = f.label :nickname,"名前"
          .FormField__input--normal
            = f.text_field :nickname, autofocus: true
        .FormField
          .FormField__label--normal
            = f.label :store,"店名"
          .FormField__input--normal
            = f.text_field :store, autofocus: true
        .FormField
          .FormField__label--normal
            = f.label :email,"メールアドレス "
          .FormField__input--normal
            = f.email_field :email
        .FormField
          .FormField__label--normal
            = f.label :avatar,"ユーザー画像"
          .FormField__input--normal
            = f.file_field :avatar
        .FormField
          .FormField__label--normal
            = f.label :introduction,"紹介文"
          .FormField__input--normal
            = f.text_area :introduction, placeholder: '例：よろしくお願いします。', rows: "3"
        = f.submit "保存", class: 'Button UserButton'
