=render partial: 'reports/header'
=render partial: 'reports/menu'

.wrapper
  .side
  .main
    .Mypage
      .Mypage__edit
        = link_to edit_user_path(current_user) do
          = icon("fas", "user-edit", class: "Mypage__edit--icon")
          %span<>
          マイページ編集
      .Mypage__prof
        .Mypage__prof--image
          %img{src: current_user.image, alt: "none", class: "img"}
        .Mypage__prof--name
          名前：
          = current_user.name
        .Mypage__prof--store
          店名：
          = current_user.store
        .Mypage__prof--email
          メールアドレス：
          = current_user.email
        .Mypage__prof--profile
          紹介文：
          = current_user.profile

=render partial: 'reports/footer'
