=render partial: 'reports/header'
=render partial: 'reports/menu'

.Wrapper
  .Side
  .Main
    .userbox
      = link_to edit_user_path(current_user) do
        = "マイページ編集"

      .userprof
        .image
          -# = image_tag message.image.url, class: 'Message__image' if message.image.present?
        .name
          名前：
          = current_user.name
        .store
          店名：
          = current_user.store
        .email
          メールアドレス：
          = current_user.email
        .profile
          紹介文：
          = current_user.profile