.Menu
  %ul.Menu__list
    %li.Menu__box
      = link_to root_path(current_user) do
        = "ホーム"
    %li.Menu__box
      = link_to root_path(current_user) do
        = "レポート入力"
    %li.Menu__box
      = link_to "#" do
        = "レポート集計"
    %li.Menu__box
      = link_to groups_path do
        = "グループ"
    %li.Menu__search
      検索