.Menu
  %ul.Menu__list
    %li.Menu__btn
      = link_to root_path(current_user) do
        = icon("fas", "calendar-alt", class: "Menu__btn--icon")
        %span<>
          レポート一覧
    -# %li.Menu__btn
    -#   = link_to report_path(current_user) do
    -#     = icon("fas", "calendar-check", class: "Menu__btn--icon")
    -#     %span<>
    -#       マイレポート
    %li.Menu__btn
      = link_to groups_path do
        = icon("fas", "users", class: "Menu__btn--icon")
        %span<>
          グループ
    %li.Menu__search
      = icon("fas", "search", class: "Menu__search--icon")
      = form_with(url: search_reports_path, local: true, method: :get, class: "Menu__search--form") do |f|
        = f.text_field :keyword, placeholder: "レポートを検索する", class: "Menu__search--input"
        = f.submit "検索", class: "Menu__search--btn"

